<ion-view cache-view="false">
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Members" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="app.group.members">
            <ion-nav-view name="members"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Leaderboard" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" ui-sref="app.group.leaderboard">
            <ion-nav-view name="leaderboard"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Photos" icon-on="ion-ios-photos" icon-off="ion-ios-photos-outline" ui-sref="app.group.photos">
            <ion-nav-view name="photos"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Group Quiz" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline" ui-sref="app.group.quiz">
            <ion-nav-view name="quiz"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>